# Main parameters

# Debug mode
DEBUG = False

# LED strip enable/disable
LED = True

# Location
LATITUDE = 50.1239
ALTITUDE = 8.5763
TIMEZONE = "Europe/Berlin"
COUNTRY = "Germany"
CITY = "Berlin"

# FIFO for status access
FIFO='/tmp/led.py'

# Errror log file
LOG='/tmp/led.py.lasterror'

# MQTT
MQTT_ENABLED = True
MQTT_BROKER = "localhost"
MQTT_PORT = 1883
MQTT_TOPIC = "raspi/sensors"
MQTT_SWTOPIC = "raspi/led"
MQTT_USER = ""
MQTT_PASS = ""

# Cycle sleep tome in seconds
SLEEP=0.3

# Tinkerforge

# LED strip duration
TF_DURATION=50

# LED strip max items per update
TF_NUM_LEDS=50

# Host runnint the Tinkerforge daemon
TF_HOST = "localhost"
# Port of the Tinkerforge daemon
TF_PORT = 4223

# Tinkerforge Bricks

# Hat UID
TF_HATUID = 'xxxx'

# LED 2.0 UID
TF_LEDUID = 'xxxx'

# AIR Quality
TF_AIRUID= 'xxxx'

# Ambient Light
TF_LUXUID = 'xxxx'
